.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.5);
  border-radius: 0.5rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(
      50% at 50% 50%
    ); //property to wrap the text around the circle where the circle is 15rem
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(
      50% at 50% 50%
    ); // property to shape the form or a circle in where the center is 50%
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }
  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.5);
    transition: all 0.5s;
  }
  &__text {
    transform: skewX(12deg);
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 54%;
    text-transform: uppercase;
    font-size: $default-font-size;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
    transform: translateX(-3rem);
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(2px) brightness(80%);
  }
}
