.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-5deg);
  margin-top: -8rem;
  & > * {
    transform: skewY(5deg);
  }
}
// & > * applies to alldirect child elements of the section features block
.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -8vh;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  padding: 15rem;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}
.book {
  background-image: url(../../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

  height: 50rem;
}
